.bins_body{
   width:100%; 
   font-family:'Open-Sans';
   color:white;
   font-size:40px;
   background: #d8d8d8;
   border:yellow solid 3px;
}
.mainNav{
    width:100%;
    height:120px;
    /* display: inline-block; */
}
 
.leftNav{
width:30%;
height:100%;
float:left;
background:#ab2a19; 
}
 .app_logo{
 background-image: url('../assets/logo.png');
 width:68px;
 height:68px;
 float:left; 
}
.rightNav {
    width:100%;
    height:100%;
    background:#d34735;
}
.bin_detail_container{
    width:100%;
    height:900px;
    display:inline-block;
}
.bins{
 width:550px;
 height:70px;  
 background: #d34735;
 border-radius:10px;
 text-align:left; 
 padding-top:15px;
 padding-left:50px;
 margin:50px;
 margin-left:445px;  
}
.inventory_bin{
 width:550px;
 height:70px;  
 background: #ffb8af;
 border-radius:10px;
 text-align:left; 
 padding-top:15px;
 padding-left:50px;
 margin:50px;
 margin-left:445px;  
 color:black;
}