.bins_body{
   width:100%; 
   font-family:'Open-Sans';
   color:white;
   font-size:40px;
   background: #d8d8d8;
}
.mainNav{
    width:100%;
    height:120px;
}
 
.leftNav{
width:20%;
height:100%;
float:left;
background:#ab2a19;
}
 .app_logo2{
 background-image: url('../assets/logo.png');
 width:68px;
 height:68px;
 margin-top:25px;
 margin-left:110px;
}
.rightNav {
    width:100%;
    height:80%;
    background:#d34735;
    padding-top:25px;
}
.bin_detail_container{
    width:100%;
    height:900px;
    display:inline-block;
}
.bins{
 width:550px;
 height:70px;  
 background: #d34735;
 border-radius:10px;
 text-align:left; 
 padding-top:15px;
 padding-left:50px;
 margin:50px;
 margin-left:445px;  
}
.inventory_bin{
 width:550px;
 height:70px;  
 background: #ffb8af;
 border-radius:10px;
 text-align:left; 
 padding-top:15px;
 padding-left:50px;
 margin:50px;
 margin-left:445px;  
 color:black;
}